{extend name="public/public"}
{block name="title"}
<title>管理员修改</title>
{/block}
{block name="main"}
<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span>管理员修改</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="/admin/{$user->id}" method="post">
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">管理员名</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large" name="admin_name" value="{$user->admin_name}" /> 
       </div> 
      </div> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">旧密码</label> 
       <div class="mws-form-item"> 
        <input type="password" class="large" name="oldpassword" value=""/> 
       </div> 
      </div>
      <div class="mws-form-row"> 
       <label class="mws-form-label">新密码</label> 
       <div class="mws-form-item"> 
        <input type="password" class="large" name="password" value=""/> 
       </div> 
      </div>     
     </div> 
     <div class="mws-button-row">
      <input type="hidden" name="_method" value="put"/> 
      <input type="submit" value="提交" class="btn btn-danger" /> 
      <input type="reset" value="重置" class="btn " /> 
     </div> 
    </form> 
   </div> 
  </div>
 </body>
</html>
{/block}