{extend name="public/public"}
{block name="title"}
<title>添加权限</title>
{/block}
{block name="main"}
<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span>权限添加</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="/role" method="post">
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">节点名</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large" name="node_name" value="" /> 
       </div> 
      </div>
      <div class="mws-form-row"> 
       <label class="mws-form-label">控制器名</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large" name="cname" value=""/> 
       </div> 
      </div> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">方法名</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large" name="fname" value=""/> 
       </div> 
      </div>   
     </div> 
     <div class="mws-button-row">
      <input type="submit" value="提交" class="btn btn-success" /> 
      <input type="reset" value="重置" class="btn " /> 
     </div> 
    </form> 
   </div> 
  </div>
 </body>
</html>
{/block}